# Base de datos
DATABASE_URL="postgresql://postgres:password@localhost:5432/projectmanager_auth?schema=public"

# JWT
JWT_SECRET="tu-secret-super-seguro-CAMBIAR-EN-PRODUCCION"
JWT_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="7d"

# Servidor
PORT=3001
NODE_ENV="development"

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379

# CORS
CORS_ORIGIN="*"
